*.exe
*.bin
*.ilk
*.pdb
*.log
*.so
*.pb.go
*.pb.h
*.pb.cc
*.out
vs2017
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
server.conf
server/.vscode/
temp.*
msghandle.h
server/tools/cpp/msghandle/*
.vscode/
*.a
vs2013
build/.cmake/
build/compile_commands.json
